<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="/static/bulma/css/bulma.css">

            <title>{% block title %}Quiz4IU{% endblock %}</title>


    <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="/static/img/iu_logo.png">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Start
                </a>
          
          
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Fragenkatalog
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      Kategorie hinzufügen/bearbeiten
                    </a>
                    <a class="navbar-item">
                      Fragen hinzufügen/bearbeiten
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Problem mit einer Frage melden
                    </a>
                  </div>
                </div>
                <a class="navbar-item">
                  Statistik
                </a>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-info">
                      <strong>Registrieren</strong>
                    </a>
                    <a class="button is-light">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>       
        
        
    </head>
    <body>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>