
<!DOCTYPE html>
<html>
    
  <head>
    <!-- META/SCRIPTS/STYLESHEET-->
    {% include 'includes/meta.html' %}

    <!-- TITEL -->
    <title>{% block title %}Quiz4IU{% endblock %}</title>
  </head>

  <!-- NAVBAR -->
  {% include 'includes/navbar.html' %}

  <!-- BODY -->
  <body>
    <div class="container is-widescreen">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </body>

  <!-- FOOTER -->
  {% include 'includes/footer.html' %}

</html>