{% extends 'base_layout.html' %}
{% block content %}
<div class="px-2 has-text-centered">
    <h2 class="is-size-3 is-uppercase has-text-weight-semibold">Bestenliste</h2>
    <div class="columns is-centered">
    <div class="column is-narrow">
    <table class="table is-hoverable">
        <thead>
            <tr>
              <th>Platz</th>
              <th>Spieler</th>
              <th>Gesamtpunktzahl</th>
              <th>richtige Antworten</th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
              <th>{{ forloop.counter }}</th>
              <td><p class="is-capitalized">{{ user }}</p></td>
              <td>Platzhalter</td>
              <td>Platzhalter</td>
          </tr>
        </tbody>
        {% endfor%}
    </table>
    </div>
    </div>
</div>
{% endblock %}