{% extends 'base_layout.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="px-2">
<div class="box my-3">
    <h1 class="title is-size-3">Kurs erstellen</h1>
    <form method="post" action="/create_category/">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="field is-grouped my-3">
            <div class="control">
              <button type="submit" name="save" class="button is-link">Neuen Kurs erstellen</button>
            </div>
            <div class="control">
              <button class="button is-link is-light" onclick="location.href='{% url 'home' %}'">Abbrechen</button>
            </div>
          </div>
    </form>
</div>
</div>

{% endblock %}