{% extends 'base_layout.html' %}

{% block content %}
<!--Tabelle-->
<table class="table">
    <thead>
        <tr>
            <th>q.id</th>
            <th>q.name</th>
            <th>q.cat</th>
          </tr>
    </thead>
    <tfoot>
        <tr>
            <th>q.id</th>
            <th>q.name</th>
            <th>q.cat</th>
          </tr>
    </tfoot>
<tbody>
    {% for question in questions %}
    <tr>
        <th>{{question.id}}</th>
        <td>{{question.name}}</td>
        <td>Platzhalter</td>
        <td><a href="{% url 'update_question' question.id %}">bearbeiten</a></td>
        <td><a href="{% url 'delete_question' question.id %}">löschen</a></td>
    </tr>
    </tbody>
    {% endfor%}
</table>
{% endblock %}