{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content %}


  <div class="columns">
        <div class="column has-text-centered">
            <!--aktive Lobbies-->
            <h2 class="is-size-3 is-uppercase has-text-weight-semibold">Lobby</h2>
            {% csrf_token %}   
              <!--dieser Teil wird mittels AJAX überschrieben-->
              <div id='ll'>
                {% for lobby in lobbylist %}
                <a href="{% url 'join_lobby' lobby.id %}">
                    <div class="box has-text-left">
                        <strong>Lobby:</strong> {{lobby.name}}({{lobby.id}})
                        <br>
                        <strong>Kurs:</strong> {{lobby.category}}
                        <br>
                        <strong>Host:</strong> {{lobby.host}}
                    </div>
                </a>
                {% endfor %}
              </div>
              <!--dieser Teil wird mittels AJAX überschrieben-->
        </div>

        <div class="column">
          <h2 class="has-text-centered is-size-3 is-uppercase has-text-weight-semibold">Spielen</h2>
          <div class="box">
          <form method="POST" action="{% url 'create_lobby' %}">
            {% csrf_token %}  
          <!--{{form.as_p}}-->
          {{ form|crispy }}
          <div class="field is-grouped my-3">
            <div class="control">
              <!--<input type="submit" value="Submit"/>-->
              <button input value="Submit" type="submit" name="save" class="button is-link">Lobby erstellen</button>
            </div>
          </div>
        </form>
      </div>        
        </div>
        <div class="column has-text-centered">
            <!--Kategorie aufzählung-->
            <h2 class="is-size-3 is-uppercase has-text-weight-semibold">Kurse</h2>
            <nav class="panel">
                {% for category in categories %}
                <a class="panel-block" id="{{category.id}}" href="{% url 'category_catalog' category.id %}">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  {{category.name}}
                </a>
                {% endfor%}
              </nav>
        </div>
    </div>     
  </div>


{% endblock %}


