{% extends 'base_layout.html'%}
{% block content %}
    <div class="content has-text-centered">
        <div class="box my-2">
            <p> Diese Website ist privat und fällt somit nicht unter die Impressumspflicht.</p>
            <br>
            <a href="https://www.gesetze-im-internet.de/tmg/__5.html" target="_blank">§ 5 TMG</a>
            <blockquote>"Diensteanbieter haben für <strong>geschäftsmäßige</strong>, in der Regel gegen Entgelt angebotene Telemedien folgende Informationen leicht erkennbar, unmittelbar erreichbar und ständig verfügbar zu halten:..."</blockquote>
            <br>
            <p>Quiz4IU ist ein Universitätsprojekt welches keine tatsächliche Anwendung finden wird.</p>
        </div>  
    </div>
{% endblock %}