{% extends 'base_layout.html' %}

{% block content %}


{% include 'lobbyinfo.html' %}


    <script>
        $(document).ready(function(){
                var csrf = $("input[name=csrfmiddlewaretoken]").val();

                var started = 0;

        setInterval(getinfo,2000);
        setInterval(getinfo2,2000);

        function getinfo2(){
            $.ajax({

                //type: 'POST',
                url: '/lobbyinfo2/{{lobby.id}}/',
                data: {
                    csrfmiddlewaretoken: csrf,
                    status: 'status'
                },
                success: function(data) {
                    if (data.status && ({{lobby.status}} == 0)){
                        console.log(data.status)
                        //getinfo(data.status);
                        started = 1;
                        window.location.href = "/start_lobby/{{lobby.id}}/";
                    }
                    
                }
            })
        }

        // function start_lobby(){

        //     $.ajax({
        //         url: "/start_lobby/{{lobby.id}}/",
        //         type: "post",
        //         //data: serializeData,
        //         success: function(response) {
        //             //alert(response)
        //             console.log(response)
        //         }
        //     })   

        // }

        function getinfo(){
            $.ajax({

                type: 'POST',
                url: '/lobbyinfo/{{lobby.id}}/', 
                data: {
                    csrfmiddlewaretoken: csrf
                },
                success: function(response) {

                    if ( {{lobby.status}}  == 0) {
                        //location.reload();
                        name = $(this).text();   
                        $("#lobbyinfo").html(response)
                        //console.log(test)

                    }
                    else console.log("else")
                }
                
            })

        }
        });
    </script>



{% endblock %}