

{% csrf_token %}
<div id="lobbyinfo">
    {% if lobby.status == 0 %}
        <div class="columns">
            <div class="column">
                <div class="card my-3">
                    <div class="card-content">
                      <p class="title">
                        {{lobby.name}}
                      </p>
                      <p class="subtitle">
                        {{lobby.category}}
                      </p>
                    </div>
                    <footer class="card-footer">
                        {% if lobby.participants.count == lobby.max_players %}
                        <p class="card-footer-item" id="lobbyfull">
                            <span>
                                <a href="{% url 'start_lobby' lobby.id %}"><b>STARTEN!</b></a>
                            </span>
                          </p>
                        {% elif user == lobby.host %}
                      <p class="card-footer-item">
                        <span>
                            <a href="{% url 'start_lobby' lobby.id %}">Starten</a>
                        </span>
                      </p>
                      {% else %}
                      <p class="card-footer-item">
                        <span>
                            warte auf Lobbyhost...
                        </span>
                      </p>
                      {% endif %}

                      <!-- ehemals Beitreten button
                      <p class="card-footer-item">
                        <span>
                            <a href="{% url 'join_lobby' lobby.id %}"> </a>
                        </span>
                      </p>     
                        -->          

                      <p class="card-footer-item">
                        <span>
                            <a href="{% url 'leave_lobby' lobby.id %}">Verlassen</a>
                        </span>
                      </p>
                    </footer>
                </div>
                {% if lobby.participants.count == lobby.max_players and user == lobby.host and lobby.max_players > 1 %}
                    <div class="notification is-warning is-light">
                        Die Lobby ist voll. Lass deine Mitspieler nicht warten und starte das Quiz!
                    </div>
                {% endif %}
                {% if lobby.max_players == 1 and user == lobby.host%}
                    <div class="notification is-success is-light">
                        Die Lobby ist voll.
                    </div>
                {% endif %}
            </div>

            <div class="column">
                <article class="panel is-success my-3">
                    <p class="panel-heading">
                    Teilnehmer
                    </p>
                    {% for part in participants %}
                    {% if part.user == lobby.host %}
                            <a class="panel-block is-active">
                            <span class="panel-icon">
                                <i class="fas fa-crown" aria-hidden="true"></i>
                            </span>
                            {{lobby.host}} (Host)
                            </a>
                        {% else %}
                            <a class="panel-block is-active">
                                <span class="panel-icon">
                                    <i class="fas fa-user" aria-hidden="true"></i>
                                </span>
                                {{part.user.username}}
                                </a>
                        {% endif %}
                    {% endfor %}
                </article>
                <progress class="progress is-success my-1" value="{{lobby.participants.count}}" max="{{lobby.max_players}}"></progress>
                <h2 class="subtitle">{{lobby.participants.count}}/{{lobby.max_players}} Teilnehmer</h2>
            </div>
        </div>

    {% else %}


    <div class="box my-3">
        <h1 class="title">{{lobby.name}}</h1>
        <h2 class="subtitle">{{lobby.category}}</h2>
    </div>

    <div class="columns my-3">
        <!-- Column 1 -->
        <div class="column is-two-thirds">
            <div class="box">
                <p>Frage {{nr}} von 5</p>
                <progress class="progress is-link" value="{{nr}}" max="5"></progress>
            </div>
            
                <form method='post' action="{% url 'lobby_msg' lobby.id %}">
                    <div class="box">
                        {% csrf_token %}
                        <div class="form-group">
                            <h3 class="title is-2"><label for="question">{{question.question}}</label><h3>
                        </div>
                        <div class="form-check">
                            {% for answer in answers %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios{{answer}}" value="{{answer}}">
                                <label class="form-check-label" for="gridRadios{{answer}}">
                                {{answer}}
                                </label>
                            </div>
                            {% endfor %}
                        </div> 
                    </div>


                    <div class="box">
                        <button type="submit" class="button is-link my-2">Überprüfen</button>
                    </div>

                    
                </form>
            
        </div>
        <div class="column">
            {% include 'includes/chatbox_mockup.html' %}
        </div>
    </div>  
    {% endif %}
</div>


<!--
    <form method='post' action="{% url 'lobby_msg' lobby.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <h3 class="title is-2"><label for="question">{{question.question}}</label><h3>
                    </div>
                    <div class="form-check">
                        {% for answer in answers %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios{{answer}}" value="{{answer}}">
                            <label class="form-check-label" for="gridRadios{{answer}}">
                            {{answer}}
                            </label>
                        </div>
                        {% endfor %}   
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
-->


            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios1" value="{{question.answer_correct}}">
                <label class="form-check-label" for="gridRadios1">
                    {{question.answer_correct}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios2" value="{{question.answer_wrong_1}}">
                <label class="form-check-label" for="gridRadios2">
                    {{question.answer_wrong_1}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios2" value="{{question.answer_wrong_1}}">
                <label class="form-check-label" for="gridRadios2">
                    {{question.answer_wrong_2}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios2" value="{{question.answer_wrong_1}}">
                <label class="form-check-label" for="gridRadios2">
                    {{question.answer_wrong_3}}
                </label>
            </div> -->

                        <!-- <script>
     
                console.log('hello world')
                const timer=document.getElementById('displaytimer')
                console.log(timer.textContent)
                const inputtag = document.getElementById('timer')
     
                t=0
                setInterval(()=>{
                    t+=1
                    timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                    inputtag.value = t
                },1000)
            </script> -->