{% extends 'base_layout.html' %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

{% include 'lobbyinfo.html' %}


    <script>
        $(document).ready(function(){
                var csrf = $("input[name=csrfmiddlewaretoken]").val();

        setInterval(getinfo,5000);

        // function getinfo2(){
        //     $.ajax({

        //         type: 'GET',
        //         url: '/ajax_view/{{lobby.id}}/',
        //         dataType: 'json',
        //         success: function(data){
                        
        //         }

        //     })
        // }

        function getinfo(){
            $.ajax({

                type: 'POST',
                url: '/lobbyinfo/{{lobby.id}}/', 
                data: {
                    csrfmiddlewaretoken: csrf
                },
                success: function(response) {

                    if ({{lobby.status}} == 0) {
                        //location.reload();
                        name = $(this).text();   
                        $("#lobbyinfo").html(response)
                        console.log({{lobby.status}})

                    }
                    else console.log("else")
                }
                
            })

        }
        });
    </script>



{% endblock %}