{% extends 'base_layout.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% if page == 'login' %}
<div class="px-2">
    <div class="box my-3">
        <div class="column is-one-third">
        <h2 class="is-size-3 is-uppercase has-text-weight-semibold">Login</h2>
        <br>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="">Nutzer:</label>
            <input class="input" type="text" name="username" placeholder="Nutzer"/>
            <br>
            <label for="">Passwort:</label>
            <input class="input" type="password" name="password" placeholder="Passwort"/>
            <br>
            <button class="button my-3" input type="submit" value="Login">Anmelden</button>
        </form>

        <p>oder</p>
        <a href="{% url 'register' %}">jetzt registrieren</a>
        </div>
    </div>
</div>
{% else %}

    <div class="px-2">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="button my-3" input type="submit" value="Register"/>Registrieren</button>
        </form>
        <br>
        <p>Bist du bereits registriert?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>

{% endif %}
    

{% endblock %}