{% extends 'base_layout.html' %}

{% block content %}
{% load crispy_forms_tags %}

    <div class="px-2">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="field is-grouped my-3">
                <div class="control">
                  <button type="submit" name="save" class="button is-link">Abschicken</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light" onclick="location.href='{% url 'home' %}'">Abbrechen</button>
                </div>
              </div>

        </form>
    </div>
{% endblock %}


{% comment %} {% if request.get_full_path == "/create_lobby/" %}
<div class="field is-grouped my-3">
    <div class="control">
      <input type="submit" value="Submit"/>
      <!--<button input value="Submit" type="submit" name="save" class="button is-link">Lobby erstellen</button>-->
    </div>
    <div class="control">
      <button class="button is-link is-light" onclick="location.href='{% url 'home' %}'">Abbrechen</button>
    </div>
  </div>
{% else %}     {% endif %}{% endcomment %}
