{% extends 'base_layout.html' %}

{% block content %}
        <h1>Question_List h1</h1>
        <div class="questions"> 
            {% for question in questions %}
            <form method="post" action="../{{ question.id }}">
                {% csrf_token %}            
                <div class="question">
                    <h2>{{question.name}}</h2>
                    <p>{{ question.id }}</p>
                    <p>{{ question.snippet }}</p>
                    <p>{{ question.date }}</p>
                    <button type="submit",name="edit",value="edit">edit</button>
                </div>
            </form>
            {% endfor %}
        </div>
{% endblock %}